*.iml
.gradle
local.properties
.DS_Store
build/
captures
.externalNativeBuild
.cxx
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/vcs.xml
.idea/caches
.idea/modules.xml
.gradle/
*.class
.fuse_hidden*
.idea/codeStyles/Project.xml
.idea/navEditor.xml
