<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.upeers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".cs5115SellTextbook"
            android:label="@string/title_activity_cs5115_sell_textbook"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".cs5115Textbook1Details"
            android:label="@string/title_activity_cs5115_textbook1_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cs5115TextbookWishlist"
            android:label="@string/title_activity_cs5115_textbook_wishlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".csci5115Textbook1Buy" />
        <activity
            android:name=".cs5115Textbook1Buy"
            android:label="@string/title_activity_cs5115_textbook1_buy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".csci5115BuyTextbook" />
        <activity android:name=".TextbookMainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>