<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.upeers">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".myselling.MySellingActivity"
            android:theme="@style/AppTheme_NoActionBar"></activity>
        <activity
            android:name=".BookMsgList"
            android:theme="@style/AppTheme_NoActionBar"></activity>
        <activity android:name=".coursepage.SellNewBookActivity" />
        <activity android:name=".drawingpad.FakeDrawingPadActivity" />
        <activity android:name=".coursepage.CoursePageActivity" />
        <activity android:name=".drawingpad.DrawingPadActivity" />
        <activity
            android:name=".msglist.MessageListActivity"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity android:name=".ui.cs5115SellTextbookConfirm" />
        <activity
            android:name=".msgsearch.MsgSearchActivity"
            android:theme="@style/AppTheme_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".MainNaviActivity"
            android:label="@string/title_activity_main_navi"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme_NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.upeers.MainActivity" />
        </activity>

        <activity android:name=".cs5115SellTextbook" />

        <activity android:name=".cs5115TextbookWishlist" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tutordetail.TutorDetailActivity"
            android:label="CSCI 5115" />
        <activity android:name=".ui.home.AddCourseActivity" />
        <activity
            android:name=".ui.book.BookDetailActivity"
            android:label="Book Details" />
    </application>

</manifest>
